{% extends "base.html" %}

{% block title %}Login{% endblock title %}
{% block heading %}Login{% endblock heading %}
{% block background_class %}login-bg{% endblock background_class %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<!-- Login content -->
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="account-box fade-bg">
                <h3>{% trans "Sign In" %}</h3>
                <p>{% blocktrans %}If you already have an account, please sign in below. <br>
                    If you have not created an account yet, you can sign up
                    <a class="link" href="{{ signup_url }}">here</a>.
                    {% endblocktrans %}
                </p>
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn light-btn mt-2 mb-3">{% trans "Sign In" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}