{% extends "base.html" %}

{% block title %}Logout{% endblock title %}
{% block heading %}Logout{% endblock heading %}
{% block background_class %}logout-bg{% endblock background_class %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="account-box fade-bg">
                <h3>{% trans "Sign Out" %}</h3>
                <p>{% trans 'Are you sure you want to sign out?' %}</p>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn light-btn mt-2 mb-3">{% trans "Sign Out" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}