{% extends "base.html" %}

{% block title %}Change Password{% endblock title %}
{% block heading %}Change Password{% endblock heading %}
{% block background_class %}password-change-bg{% endblock background_class %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="account-box fade-bg">
                <h3 class="mb-4">{% trans "Change Password" %}</h3>
                <form method="post" action="{% url 'account_change_password' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn light-btn mt-2 mb-3">{% trans "Change Password" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}