{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Add Festival</h2>
            <form id="add-festival-form" method="post" action="{% url 'add_festival' %}" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
                
                <div class="form-group artist-checkboxes">
                    {{ form.artists.label_tag }}
                    <div class="scrollable-checkboxes">
                        {% for checkbox in form.artists %}
                            <div class="checkbox">{{ checkbox }}</div>
                        {% endfor %}
                    </div>
                </div>
        
                <div class="form-group">
                    {{ form.website.label_tag }}
                    {{ form.website }}
                </div>
        
                <div class="form-group">
                    {{ form.date.label_tag }}
                    {{ form.date }}
                </div>
        
                <div class="form-group">
                    {{ form.time.label_tag }}
                    {{ form.time }}
                </div>
        
                <div class="form-group">
                    {{ form.latitude.label_tag }}
                    {{ form.latitude }}
                </div>
        
                <div class="form-group">
                    {{ form.longitude.label_tag }}
                    {{ form.longitude }}
                </div>
        
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('add-festival-form').addEventListener('submit', function (event) {
        const urlField = document.querySelector('input[name="website"]');
        if (urlField) {
            const url = urlField.value;
            const urlPattern = /^(https?:\/\/)?([a-z\d-]+\.)+[a-z]{2,6}(:\d+)?(\/[^\s]*)?$/i;
            if (!urlPattern.test(url)) {
                alert('Please enter a valid URL.');
                event.preventDefault(); // Prevent form submission
            }
        }
    });
</script>
{% endblock %}