{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 mt-2">
            <h1>{{ festival.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <p>Event Manager: {{ festival.event_manager }}</p>
            <p>Artists: {% for artist in festival.artists.all %}{{ artist.name }}{% if not forloop.last %},
                {% endif %}{% endfor %}</p>
            <p>Date: {{ festival.date }}</p>
            <p>Time: {{ festival.time }}</p>
            <p>Website: <a href="{{ festival.website }}">{{ festival.website }}</a></p>
            <p>Location: {{ festival.latitude }}, {{ festival.longitude }}</p>
        </div>
    </div>
</div>

{% endblock %}