{% extends "base.html" %}

{% block title %}Search Results{% endblock title %}
{% block heading %}Search{% endblock heading %}
{% block background_class %}festival-search-bg{% endblock background_class %}

{% block content %}
<div class="container">
    <h2>Search Results for "{{ query }}"</h2>

<div class="col-10 mt-2 offset-1">
    {% if festivals %}
        <div class="row">
            {% for festival in festivals %}
                <div class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3>
                                <a href="{% url 'festival_detail' id=festival.id %}">{{ festival.name }}</a>
                            </h3>
                            <p>Date: {{ festival.date }}</p>
                            <p>Genres: {% for genre in festival.get_genres %}{{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                            <!-- Artists collapse button -->
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#artists-{{ festival.id }}" role="button" aria-expanded="false" aria-controls="artists-{{ festival.id }}">
                                Artists <i class="fa fa-arrow-down"></i>
                            </a>
                            <!-- Artists collapse content -->
                            <div class="collapse mt-2" id="artists-{{ festival.id }}">
                                <div class="card card-body">
                                    <ul>
                                        {% for artist in festival.artists.all %}
                                            <li>{{ artist.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>No festivals found.</p>
    {% endif %}
</div>
{% endblock %}