{% extends "base.html" %}
{% load static %}

{% block title %}Rave/Hub{% endblock title %}
{% block background_class %}index-bg{% endblock background_class %}

{% block content %}
<!-- index.html content starts here -->
<div class="container">
    <div class="row justify-content-end">
        <div class="col-auto">
            <!-- Search Form -->
            <form method="GET" action="{% url 'festival_search' %}">
                <input type="text" name="q" placeholder="Search festivals, genres, artists..."
                    value="{{ request.GET.q }}">
                <button type="submit" class="btn btn-dark search-btn">Search</button>
            </form>
        </div>
    </div>
    <!-- Events Column -->
    <!-- <div class="col-12 mt-2">
            <div class="row">
                {% for festival in festival_list %}
                <div class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in festival.featured_image.url %}
                                <img class="festival-image" src="{% static 'images/default.webp' %}" alt="placeholder image">
                                {% else %}
                                <img class="festival-image" src="{{ festival.featured_image.url }}" alt="{{ festival.title }}">
                                {% endif %}
                            </div>
                            <a href="{% url 'festival_detail' festival.id %}" class="festival-link">
                                <h2 class="card-title">{{ festival.name }}</h2>
                            </a>
                            <hr/>
                            <p class="card-text h6">{{ festival.date }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %} -->

    <div class="row">
        <div class="col-12 mt-2">
            <div class="multiple-items">
                {% for festival in festival_list %}
                <div class="card-body event-slide">
                    <div class="image-container">
                        {% if "placeholder" in festival.featured_image.url %}
                        <img class="festival-image" src="{% static 'images/default.webp' %}" alt="placeholder image">
                        {% else %}
                        <img class="festival-image" src="{{ festival.featured_image.url }}" alt="{{ festival.title }}">
                        {% endif %}
                    </div>
                    <a href="{% url 'festival_detail' festival.id %}" class="festival-link">
                        <h2 class="card-title">{{ festival.name }}</h2>
                    </a>
                    <hr />
                    <p class="card-text h6">{{ festival.date }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- index.html content ends here -->
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.multiple-items').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3,
            dots: true,
            responsive: [{
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 530,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
            ]
        });
    });
</script>
{% endblock %}