body {
    background-color: #fafafa;
}

.dark-bg {
    background-color: black;
}

.main-bg {
    background-color: white;
}

.errorlist {
    list-style-type: none;
}

/* Navbar */
.brand {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
}

.active {
    font-weight: 500;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.festival-image {
    position: absolute;
}

.festival-link {
    text-decoration: none;
    color: black;
}

.festival-link:hover,
.page-link {
    color: blue;
}

.btn-signup {
    background-color: black;
    color: #fff;
}

.artist-checkboxes {
    display: flex;
    flex-wrap: wrap;
}

.artist-checkboxes .checkbox {
    width: 50%;
}

.scrollable-checkboxes {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

.profile-dropdown {
    right: 0;
    transform: translateX(-48%);
    min-width: 7rem;
    text-align: center;
    margin-top: 0.7rem !important;
}

.profile-icon-container {
    position: fixed;
    top: 8px; 
    right: 80px;
    z-index: 1030;
}

.profile-dropdown-menu {
    width: 165px; 
    text-align: center;
    min-width: 0;
    transform: translate3d(-54px, 47px, 0px) !important;
}

.navbar-brand-container {
    flex: 1;
}

.navbar-nav {
    flex: 1;
}

.profile-dropdown-btn {
    color: rgba(255, 255, 255, .55);
}

.profile-dropdown-btn:hover {
    color: rgba(255, 255, 255, .75);
}

.profile-dropdown-btn:focus {
    color: rgba(255, 255, 255, .75);
}

/* Map Feature */
#map {
    height: 25vh;
}

@media (min-width: 992px) {
    /* Navbar */
    .navbar-collapse {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }

    .navbar-brand-container {
        flex: 1;
    }

    .navbar-nav {
        flex: 1; 
    }

    .profile-icon-container {
        top: 3px;
        right: 0px; 
        font-size: 22px
    }

    .dropdown-toggle::after {
        margin-right: 15px;
    }

    .profile-dropdown-menu {
        transform: translate3d(-108px, 52px, 0px) !important;
    }
}
