/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*********************************** General Styles */

body {
    height: 100%;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content {
    padding: 5px 0;
    /* color: white; */
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

/* Headers */
h1 {
    font-family: 'Permanent Marker', sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.page-header {
    color: #fff;
    font-size: 45px;
}

/* Secondary Text */
p {
    font-family: 'Open Sans', sans-serif;
}

.dark-bg {
    background-color: black;
}

.errorlist {
    list-style-type: none;
}

/*********************************** Background Images */
.index-bg {
    background-image: url('../images/festival-image-5.jpg');
}


/*********************************** Buttons */
button {
    font-family: 'Montserrat', sans-serif;
}

.search-btn {
    padding: .1rem .5rem;
    margin-bottom: 3px;
    background-color: #373F47;
}

.btn-signup {
    background-color: black;
    color: #fff;
}

/*********************************** Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.brand {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
}

.active {
    font-weight: 500;
}

.artist-checkboxes {
    display: flex;
    flex-wrap: wrap;
}

.artist-checkboxes .checkbox {
    width: 50%;
}

.scrollable-checkboxes {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

.navbar-brand-container {
    flex: 1;
}

.navbar-nav {
    flex: 1;
}

/* Profile Dropdown */
.profile-dropdown {
    right: 0;
    transform: translateX(-48%);
    min-width: 7rem;
    text-align: center;
    margin-top: 0.7rem !important;
}

.profile-icon-container {
    position: fixed;
    top: 8px; 
    right: 80px;
    z-index: 1030;
}

.profile-dropdown-menu {
    width: 165px; 
    text-align: center;
    min-width: 0;
    transform: translate3d(-54px, 47px, 0px) !important;
}

.profile-dropdown-btn {
    color: rgba(255, 255, 255, .55);
}

.profile-dropdown-btn:hover {
    color: rgba(255, 255, 255, .75);
}

.profile-dropdown-btn:focus {
    color: rgba(255, 255, 255, .75);
}

/*************************** Hero Box */

.hero-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-box > h1 {
    margin-top: 65vh;
    color: #fff;
    font-size: 100px;
}

/************************** Slick Slider */

/* Arrows */
.slick-next:before, .slick-prev:before {
    color: #fff;
    font-size: 40px;
    opacity: 1;
}

.slick-prev {
    left: -40px;
}

.slick-prev, .slick-next {
    top: 40%;
}

/* Dots */
.slick-dots li button:before {
    color: #fff;
    font-size: 15px;
    opacity: 0.75;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fff;
}

/* Event Slide Card */
.event-slide {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}

.slick-slide > div {
    margin: 0 10px;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.festival-image {
    position: absolute;
}

.card-title {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.festival-link {
    text-decoration: none;
    color: #FCFBEF;
}

.card-body > hr {
        margin: 0.3rem 0;
        opacity: .25;
}

.event-slide:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.festival-link:hover {
    color: rgba(255, 255, 255, .7);
}

/* Event Image */
.image-container {
    width: 100%;
    /* max-width: 300px; */
    aspect-ratio: 16 / 9;
    overflow: hidden;
    position: relative;
}

.festival-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

/************************** Messages */
.alert {
    margin-top: 70px;
}


/************************** Map */
#map {
    height: 25vh;
}

@media (min-width: 992px) {
    /* Navbar */
    .navbar-collapse {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }

    .navbar-brand-container {
        flex: 1;
    }

    .navbar-nav {
        flex: 1; 
    }

    .brand {
        font-size: 2.2rem;
    }

    .profile-icon-container {
        top: 11px;
        right: 0px; 
        font-size: 22px
    }

    .dropdown-toggle::after {
        margin-right: 15px;
    }

    .navbar-links {
        font-size: 1.25rem;
    }

    .profile-dropdown-menu {
        transform: translate3d(-108px, 58px, 0px) !important;
    }
}
