{% extends "base.html" %}
{% load static %}

{% block title %}Rave/Hub{% endblock title %}
{% block heading %}Rave/Hub{% endblock heading %}
{% block background_class %}index-bg{% endblock background_class %}

{% block content %}
<!-- 404 error content -->
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="error-box fade-bg">
                <h2 class="text-danger">Oops! Looks like you've wandered off the festival map.</h2>
                <br>
                <p class="fs-4">
                    We couldn't find that page, but here's a pint and some fish and chips to cheer you up!
                </p>
                <div>
                    <a href="{% url 'home' %}" class="btn btn-lg light-btn m-2">Home</a>
                    <a href="{% url 'festival_list' %}" class="btn btn-lg light-btn m-2">Festivals</a>
                    <a href="{% url 'contact_us' %}" class="btn btn-lg light-btn m-2">Contact</a>
                </div>
                <h3 class="text-danger fw-bold">ERROR: 404</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}