{% extends "base.html" %}
{% load static %}

{% block title %}Rave/Hub{% endblock title %}
{% block heading %}Rave/Hub{% endblock heading %}
{% block background_class %}index-bg{% endblock background_class %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="error-box fade-bg">
                <h2 class="text-danger">Uh-oh! Our server's having a bigger meltdown than the British weather.</h2>
                <br>
                <p class="fs-4">
                    Something went wrong on our end. We're on it like a festival-goer chasing a rumour about surprise
                    guest appearances.
                </p>
                <div>
                    <a href="{% url 'home' %}" class="btn btn-lg light-btn m-2">Home</a>
                    <a href="{% url 'festival_list' %}" class="btn btn-lg light-btn m-2">Festivals</a>
                    <a href="{% url 'contact_us' %}" class="btn btn-lg light-btn m-2">Contact</a>
                </div>
                <h3 class="text-danger fw-bold">ERROR: 500</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}