{% extends 'base.html' %}

{% block title %}About{% endblock title %}
{% block heading %}About{% endblock heading %}
{% block background_class %}about-bg{% endblock background_class %}

{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <h2>About Us</h2>
            {{ about.content | safe }}
        </div>
        <div class="col-4 text-center">
            <!-- <img src="{% static 'images/nobody.jpg' %}" width="75%" /> -->
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
</div>
{% endblock content %}