{% extends 'base.html' %}

{% block title %}About{% endblock title %}
{% block heading %}About{% endblock heading %}
{% block background_class %}about-bg{% endblock background_class %}

{% block content %}
<!-- About us content-->
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="content-box fade-bg about-box">
                <h2>About Us</h2>
                {{ about.content | safe }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
</div>
{% endblock content %}