{% load static %}

{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'festival_list' as festival_list_url %}
{% url 'add_festival' as add_festival_url %}
{% url 'about' as about_url %}
{% url 'contact_us' as contact_us_url %}
<!-- {% url 'user_profile' as user_profile_url %} -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Rave/Hub{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">

    <!-- Slick -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"
        integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"
        integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="{% block background_class %}{% endblock %}" {% block body %}{% endblock %}>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark dark-bg">
        <div class="container-fluid">
            <div class="navbar-brand-container">
                <a class="navbar-brand brand" href="{% url 'home' %}">Rave/Hub</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items"
                aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="navbar-nav ms-auto navbar-links">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                            href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == festival_list_url %}active{% endif %}"
                            aria-current="page" href="{% url 'festival_list' %}">Festivals</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == add_festival_url %}active{% endif %}"
                            aria-current="page" href="{% url 'add_festival' %}">Add Festival</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link
                          {% if request.path == about_url %}active{%endif%}" aria-current="page"
                            href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == about_url %}active{%endif%}" aria-current="page"
                            href="{% url 'contact_us' %}">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="profile-icon-container">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle profile-dropdown-btn" href="#" id="navbarDropdownMenuLink"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <ul class="dropdown-menu profile-dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'user_profile' user.id %}">My Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                </ul>
            </li>
            {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle profile-dropdown-btn" href="#" id="navbarDropdownMenuLink"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <ul class="dropdown-menu profile-dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sign up</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>

    <!-- Displaying Django messages -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible
          fade show message-box" id="message" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container hero-box">
        <h1>{% block heading %}{% endblock heading %}</h1>
        {% if is_index %}
        <h3>Connecting You To The Music</h3>
        {% endif %}
        <div class="row justify-content-end search-div 
        {% if not is_index %}mt-4{% endif %}">
            <div class="col-auto">
                <!-- Search Form -->
                <form id="search-form" method="GET" action="{% url 'festival_search' %}">
                    <input type="text" name="q" placeholder="Search festivals, genres, artists..."
                        value="{{ request.GET.q }}">
                    <button type="submit" class="btn btn-dark search-btn">Search</button>
                </form>
            </div>
        </div>
    </div>


    <main class="content">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>


    <!-- Footer -->
    <footer class="footer py-1 dark-bg text-center">
        <a href="https://www.facebook.com/" target="_blank" rel="noopener"
            aria-label="Visit our Facebook page (Opens in new tab)">
            <i class="fab fa-facebook-square footer-icon"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener"
            aria-label="Visit our instagram page (Opens in new tab)">
            <i class="fab fa-instagram-square footer-icon"></i>
        </a>
        <a href="https://www.tiktok.com/explore" target="_blank" rel="noopener"
            aria-label="Visit our Tiktok page (Opens in new tab)">
            <i class="fab fa-tiktok footer-icon"></i>
        </a>
    </footer>

    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!-- Slick -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.5.2/jquery-migrate.min.js"
        integrity="sha512-BzvgYEoHXuphX+g7B/laemJGYFdrq4fTKEo+B3PurSxstMZtwu28FHkPKXu6dSBCzbUWqz/rMv755nUwhjQypw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
        integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    {% block js %}
    {% endblock %}
</body>

</html>